#main-content {

    >.container {

        &:before {

            display: none;

        }

    }

}

body.sidebar_disabled {

    #left-area {

        @include media($lg) {
            float: none $nb;
            padding-right: 0px $nb;
            width: 100%;
        }

    }

}

/**
    ET Grid Layout
*/
.et_pb_section {

    background-color: transparent;
    padding: 30px 0;

    @include media($md) {
        padding: 40px 0;
    }

    @include media($lg) {
        padding: 60px 0;
    }

}

.et_pb_fullwidth_section {

    padding: 0 $nb;

}

.et_pb_row {

    padding: 0;

    .et_pb_section & {

        max-width: $width_content_max $nb;
        width: 100%;

        &:not(.row_fullwidth) {

            width: $width_content_site;

        }

    }

    &:not(:last-child) {

        padding-bottom: 20px;

        @include media($md) {
            padding-bottom: 20px;
        }

        @include media($lg) {
            padding-bottom: 40px;
        }

    }

}

.et_pb_column {

    .row_header_site & {

        margin-bottom: 0 $nb;

    }

}

.section {

    &_nopad {

        padding: 0 $nb;

    }

}

.row {

    &_fullwidth {

        .et_pb_section & {

            max-width: 100% $nb;
            width: 100% $nb;

        }

    }

    &_reverse {

        &.et_pb_equal_columns {

            @include media($lg) {
                @include flex-flow(row-reverse);
            }

        }

    }

    &_vertical_align {

        &.et_pb_equal_columns {

            @include media($lg) {
                @include align-items(center);
            }

        }

    }

}

.col {

    &_flex {

        @include media($lg) {
            @include display-flex;
            @include flex-flow(column);
        }

    }

}