header.et-l--header,
header#main-header {

    @include box-shadow($box_shadow_menu);
    @include transition(all .1s ease-in);
    background-color: $color_accent;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 200;

    @include media($lg) {
        background-color: $color_white;
    }

    &.header_fixed {

        @include media($lg) {
            background-color: $color_accent;
        }

    }

    .admin-bar & {

        top: $height_wpa;

        @include media($wpa) {
            top: $height_wpa_lg;
        }

    }

}