.menu-item {

    .et_pb_menu & {

        @include media($lg) {
            padding: 0 $nb;
        }

        &:not(:last-child) {

            @include media($lg) {
                margin-right: 15px;
            }

            @include media($xl) {
                margin-right: 22px;
            }

            @include media($hd) {
                margin-right: 45px;
            }

        }

    }

    a {

        color: $color_text $nb;

        .et_pb_menu & {
            
            @include media($hd) {
                font-size: 22px;
            }

        }

        #{$fixed} {

            @include media($lg) {
                @include transition(all .1s ease-in);
                color: $color_white $nb;
            }

        }

    }

}