html,
body {

    max-width: 100%;
    overflow-x: hidden;

}

html {

    &.slide_menu_open {

        max-height: 100%;
        overflow: hidden;

    }

}

#main-header,
#main-footer {

    >.container {

        max-width: $width_content_max;
        width: $width_content_site;

    }

}

#main-content {

    background: none;

    >.container {

        &:before {

            display: none;

        }

    }

}

#wpadminbar {

    position: fixed;
    top: 0;
    width: 100%;

}