* {

    @extend p;
    color: $color_text;

}

@include fonts_global($fonts_map);
@include fontSizes($font_sizes_mobile);

@include media($md) {
    @include fontSizes($font_sizes_tablet);
}

@include media($lg) {
    @include fontSizes($font_sizes_desktop);
}

ol,
ul {

    &,
    .entry-content & {

        padding-left: 1em;

    }

}

li {

    @include media($lg) {
        list-style-position: outside;
    }

}