// nav.woocommerce-MyAccount-navigation {

//     ul {
//         list-style: none;
//         padding: 0 $nb;
//         margin-bottom: 2em;

//         li {
//             list-style: none;

//             a {
//                 font-size: 1.1em;
//                 // border: 1px solid $border-color;
//                 border-bottom: none;
//                 display: block;
//                 width: 100%;
//                 padding: 0.5em 0.5em 0.5em 0.8em;
//             }

//             &:last-child {
//                 // border-bottom: 1px solid $border-color;
//             }

//             &.is-active {

//                 a {
//                     // border-left: 2px solid $color_black;
//                     font-weight: bold;
//                 }
//             }
//         }

//         @include media(981) {

//             li {
//                 padding-right: 1em;

//                 a {
//                     border: none;
//                     // border-right: 1px solid $border-color;
//                 }

//                 &:last-child {
//                     border-bottom: none;
//                 }

//                 &.is-active {

//                     a {
//                         // border-top: 1px solid $border-color;
//                         // border-bottom: 1px solid $border-color;
//                         border-right: none;
//                     }
//                 }
//             }
//         }
//     }
// }
