/******************************************************************
Stylesheet: Form Styles
******************************************************************/

/*********************
INPUTS
*********************/

// setting up defaults
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
select,
textarea {

    display: block;
    min-height: 50px;
    padding: 0 12px;
    width: 100%;

    &.error,
    &.is-invalid {

        border-color: $alert_red;
        color: $alert_red;
        outline-color: $alert_red;

    }

    &.success,
    &.is-valid {

        border-color: $alert_green;
        color: $alert_green;
        outline-color: $alert_green;

    }

    &[disabled],
    &.is-disabled {

        border-color: $disabled-gray;
        cursor: not-allowed;
        opacity: 0.6;

        &:focus,
        &:active {

            background-color: $alert_blue;

        }

    }

}

input[type="password"] {

    letter-spacing: 0.3em;

}

textarea {

    line-height: 1.5em;
    max-width: 100%;
    min-height: 120px;

}

select {

    @include appearance(none);

}

