.et_pb_menu {

    @include transition(padding .3s eae-in);
    padding: 15px 0;

    @include media($hd) {
        padding: 33px 0;
    }

    #{$fixed} {

        padding: .5px 0;

    }

    &__wrap,
    .et-menu {

        margin: 0;

    }

    &__logo{

        a {

            display: block;

            @include media($lg, $hd) {
                max-width: 120px $nb;
            }

        }

        img {

            max-height: initial $nb;

        }

    }

    &__menu {

        @include media($lg) {
            margin: 0;
        }

    }

    .et_mobile_menu {

        top: 65px;

    }

    &__icon,
    .mobile_menu_bar {

        &:before,
        &:after {

            color: $color_white $nb;

            @include media($lg) {
                color: $color_text $nb;
            }

            #{$fixed} {

                @include transition(all .1s ease-in);
                color: $color_white $nb;

            }

        }

    }

    &__search {

        &-button {

            &:after {

                @include transform(scaleX(-1));
                display: inline-block;
                font-weight: 900;

            }

        }

        &-input {

            @include input_color($color_white $nb);
            font-size: 16px $nb;

            @include media($lg) {
                @include input_color($color_text $nb);
            }

            #{$fixed} {

                @include media($lg) {
                    @include input_color($color_white $nb);
                }

            }

        }

    }

}

.menu_reverse {

    .et_pb_menu {

        &__menu,
        &__icon {

            @include media($lg) {
                margin: 0 $nb;
            }

            &:not(:first-child) {

                @include media($lg) {
                    margin-left: 15px $nb;
                }

                @include media($xl) {
                    margin-left: 22px $nb;
                }

                @include media($hd) {
                    margin-left: 45px $nb;
                }

            }

        }

        &_inner_container {

            @include media($lg) {
                @include display-flex;
                @include flex-flow(row-reverse);
                @include justify-content(flex-end);
            }

        }

        &__wrap {

            @include media($lg) {
                @include justify-content(flex-end);
            }

        }

        &__logo {

            @include media($lg) {
                margin: 0;
            }

            &-wrap {

                @include media($lg) {
                    @include display-flex(inline-flex $nb);
                    margin-left: 14%;
                }

            }

        }

        &__search-container {

            padding: 0 192px 0 0 $nb;

        }

    }

}

.menu_hide_icons_lg {

    .et_pb_menu__icon {

        @include media($lg) {
            display: none;
        }

    }

}

.menu_hide_logo_lg {

    .et_pb_menu__logo-wrap {

        @include media($lg) {
            display: none;
        }

    }

}

.menu_hide_logo_fixed {

    .et_pb_menu__logo-wrap {

        #{$fixed} {

            @include media($lg) {
                display: none $nb;
            }

        }

    }

}

.menu_show_logo_fixed {

    .et_pb_menu__logo-wrap {

        #{$fixed} {

            @include media($lg) {
                @include display-flex;
            }

        }

    }

}