.et_pb_widget {

    h4.title,
    h4.widgettitle {

        color: $color_accent;
        font-size: 18px;
        line-height: lh_calc(26,32);

        @include media($md) {
            font-size: 22px;
        }

        @include media($lg) {
            font-size: 26px;
        }

    }

}