/*
*   Default for all default pages .archive etc.
*/

// Pagination
#left-area {

    nav.pagination {

        ul {

            padding: 0;

        }

    }

}

nav.pagination {

    clear: both;
    display: block;
    margin: 1.5em 0;
    text-align: center;

    ul {
        display: inline-block;
        background-color: $color_white;
        white-space: nowrap;
        padding: 0;
        clear: both;
    }

    li {
        padding: 0;
        margin: 0;
        display: inline;
        overflow: hidden;
        border-left: none;
    }

    a,
    span {

        margin: 0;
        text-decoration: none;
        padding: 0;
        line-height: 1em;
        font-size: 1em;
        font-weight: normal;
        padding: 0.75em;
        min-width: 1em;
        display: block;
        color: $color_accent;

        &:hover,
        &:focus {

            background-color: $color_accent;
            color: $color_white;

        }

    }

    .current {

        cursor: default;
        color: inherit;

        &:hover,
        &:focus {

            background-color: inherit;
            color: inherit;

        }

    }

}