/******************************************************************
Stylesheet: Generated Variables

Sass variables generated from theme customizer.

******************************************************************/

/*********************
LAYOUT
*********************/

$content_width:                 1080px;

/*********************
COLORS
*********************/

$color_accent:                  #2ea3f2;
$color_accent_2:                #ffffff;
$color_accent_3:                #ffffff;
$color_accent_4:                #ffffff;
$color_text:                    #666666;
$color_link:                    #2ea3f2;

/*********************
BUTTONS
*********************/

$button_text_size:              20px;
$button_text_color:             #ffffff;
$button_bg_color:               rgba(0,0,0,0);
$button_border_width:           2px;
$button_border_color:           #ffffff;
$button_border_radius:          3px;
$button_icon_content:           '\35';
$button_spacing:                0px;
$button_icon_color:             #ffffff;
$button_text_color_hover:       #ffffff;
$button_bg_color_hover:         rgba(255,255,255,0.2);
$button_border_color_hover:     rgba(0,0,0,0);
$button_border_radius_hover:    3px;
$button_spacing_hover:          0;
$button_icon_size:              32px;
$button_icon_placement:         'right';
$button_icon_on_hover:          'yes';
$button_use_icon:               'yes';

$button_text_style_map:         ();
$button_font_family:            'Open Sans', Helvetica, Arial, Lucida, sans-serif;

/*********************
FONTS
*********************/

$header_size:                   30px;
$font_size:                     14px;

$heading_font:                  'Open Sans', Helvetica, Arial, Lucida, sans-serif;
$body_font:                     'Open Sans', Helvetica, Arial, Lucida, sans-serif;

$heading_line_height:           1;
$body_line_height:              1.7;

$heading_font_weight:           normal;

