/******************************************************************
Stylesheet: Variables

Here is where we declare all our variables like colors, fonts,
base values, and defaults. We want to make sure this file ONLY
contains variables that way our files don't get all messy.
No one likes a mess.
******************************************************************/

/*********************
COLORS
Need help w/ choosing your colors? Try this site out:
http://0to255.com/
*********************/
$alert-yellow:      #ebe16f;
$alert-red:         #b81c23;
$alert-green:       #8fae1b;
$alert-blue:        #1e85be;

$black:             #323944;
$white:             #ffffff;

$light-gray:        #f8f9fa;
$gray:              #eaedf2;
$meta-gray:         #9fa6b4;

$tan:               #eceee5;
$green:             #7dd667;
$blue:              #2980b9;

$border-color:      #cccccc;
$disabled-gray:     #cfcfcf;

$color_black:       #000000;
$color_white:       #ffffff;

$color_accent:      #0b73b2;
$color_accent_1:    #00a4e1;

$color_text:        #272727;
$color_text_1:      #707070;

$color_header:      #393939;

/*
    Helpers
*/
$nb:                !important;

$fixed:             'header.header_fixed &';

/*
    Images
*/

$icon_user:         icon('user.svg');

/*
    Fonts
*/
@font-face {
    font-family: 'Verdana';
    src: url('../font/Verdana.TTF');
    src: url('../font/Verdana.TTF') format('truetype')
}

$font_fb:           Arial, Helvetica, Lucida, sans-serif;
$font_head:         'Lato', $font_fb;
$font_body:         'Verdana', $font_fb;

$fonts_map: (
    h1: (
        ff: $font_head,
        fw: 'bold',
        lh: 84,
        sb: 70,
    ),
    h2: (
        ff: $font_head,
        fw: 'black',
        lh: 48,
        sb: 40,
    ),
    h3: (
        ff: $font_head,
        fw: 'regular',
        lh: 44,
        sb: 36,
    ),
    h4: (
        ff: $font_head,
        fw: 'bold',
        lh: 39,
        sb: 32,
    ),
    h5: (
        ff: $font_head,
        fw: 'regular',
        lh: 28,
        sb: 22,
    ),
    h6: (
        ff: $font_body,
        fw: 'regular',
        lh: 20,
        sb: 18,
    ),
    p: (
        ff: $font_body,
        fw: 'regular',
        lh: 20,
        sb: 16,
    ),
    input: (
        ff: $font_body,
        fw: 'regular',
        lh: 20,
        sb: 16,
    ),
    label: (
        ff: $font_body,
        fw: 'regular',
        lh: 18,
        sb: 14,
    )
);

$font_sizes_mobile:         (h1, 40) (h2, 30) (h3, 22) (h4, 20) (h5, 16) (h6, 14) (p, 14);
$font_sizes_tablet:         (h1, 52) (h2, 36) (h3, 28) (h4, 22) (h5, 18) (h6, 15) (p, 15);
$font_sizes_desktop:        (h1, 70) (h2, 40) (h3, 36) (h4, 32) (h5, 22) (h6, 18) (p, 16);

/*
    Properties
*/

// box-shadow
$box_shadow_std:            0 3px 6px rgba($color_black, .16);
$box_shadow_menu:           0 3px 20px rgba($color_black, .16);

$height_wpa:                46px;
$height_wpa_lg:             32px;

// media query properties
$wpa:                       783; // NOTE: in px. drop px to use in @mixin media()
$sm:                        481;
$md:                        768;
$lg:                        981;
$xl:                        1241;
$hd:                        1700;

// widths
$width_content_max:         1920px;
$width_content_site:        87.5%;
$width_content_margin:      9.97%;
